@import 'sass';

.Modeling {
	width: 100%;
	height: 100vh;
	position: relative;
	// background-color: $color-background-main;

	.Content {
		position: absolute;
		height: 30%;
		width: 30%;
		border: 10px solid rgb(0, 0, 0);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include flex-center;
		text-align: center;
		color: black;
		p {
			letter-spacing: 1pt;
			font-size: large;
		}
	}
}
