@import 'sass';

.WebDev {
	width: 100%;
	height: 100%;
	position: relative;

	.Title {
		position: absolute;
		top: 15%;
		left: 15%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 120px;
		font-weight: normal;
		font-family: 'Aboreto';
		opacity: 0;

		@media screen and (max-width: $breakpoint-medium) {
			font-size: 100px;
			left: 15%;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 80px;
			left: 20%;
		}
		@media screen and (max-width: $breakpoint-mobile) {
			font-size: 60px;
			left: 25%;
		}

		&Appear {
			@extend .Title;
			animation: fadeInLift 1.5s forwards;
		}

		.Web {
			font-family: 'Aboreto';
			margin-bottom: -15%;
		}
		.Dev {
			font-family: 'Aboreto';
		}
	}

	.Text {
		position: absolute;
		top: 45%;
		left: 15%;
		max-width: 400px;
		opacity: 0;
		h2 {
			// color: $color-secondary;
			color: black;
			font-size: 30px;
			letter-spacing: 0.5pt;
			font-weight: 100;
		}
		&Appear {
			@extend .Text;
			animation: fadeInLift 1s 0.5s forwards;
		}
	}

	.Image {
		position: absolute;
		top: 20%;
		right: 0;
		overflow: hidden;
		height: 35%;
		width: 50%;
		// background-image: url(../../../images//lifeimprovements.png);
		background-size: cover;
		background-position: top;
		// background-attachment: fixed;
	}

	.Buttons {
		position: absolute;
		bottom: 20%;
		right: 10%;
		width: 800px;
		@include flex-center;
		opacity: 0;

		a {
			text-decoration: none;
			color: black;
		}

		&Appear {
			@extend .Buttons;
			animation: fadeInSlideRight 1s 0.5s forwards;
		}
	}
}
