* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* ------------------------------DINO TREE------------------------------ */

.node-label {
  font-style: italic;
  font-size: 11px;
  letter-spacing: 0.3pt;
  /* font-weight: 300; */
}

.era-text {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1pt;
  fill: black;
  text-transform: capitalize;
}
.sub-era-text {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 0.75pt;
  fill: black;
  text-transform: capitalize;
}

.axis-label {
  font-size: 10px;
  /* font-weight: 300; */
  letter-spacing: 0.25pt;
  fill: black;
}

.key {
  letter-spacing: 0.5pt;
  font-weight: 300;
  font-size: 14px;
}