@import 'sass';

.Portfolio {
	width: 100vw;
	height: 220vh;
	position: absolute;
	overflow-x: hidden;
	background-color: $color-light;

	&Loading {
		@extend .Portfolio;
		height: 100vh;
	}

	@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
		height: fit-content;
		min-height: 100vh;
	}

	.OpenScreen {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $color-coding;
		z-index: -9;
		@include flex-center;

		@keyframes ScreenSlideDown {
			from {
				height: 100%;
			}
			to {
				height: 0;
			}
		}

		&Loaded {
			@extend .OpenScreen;
			// @media screen and (min-width: $breakpoint-tablet) and (min-height: $breakpoint-tablet) {
			animation: ScreenSlideDown 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 normal forwards;
			// }
		}
	}
	.LoadingPage {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		@include flex-center;
		opacity: 1;
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

		&Hide {
			@extend .LoadingPage;
			animation: fadeThenLeave 0.5s ease forwards;
			@keyframes fadeThenLeave {
				0% {
					opacity: 1;
					transform: translateX(0);
				}
				99% {
					opacity: 0;
					transform: translateX(0);
				}
				100% {
					opacity: 0;
					transform: translateX(-100vw);
				}
			}
		}
	}
	.Main {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		opacity: 0;
		animation: fadeInLift 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			width: 100%;
			height: fit-content;
			position: relative;
			padding-top: 7vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		&Loading {
			@extend .Main;
			display: none;
		}

		.Work {
			position: absolute;
			width: 100%;
			height: fit-content;
			top: 0;
			left: 0;
			transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
			// opacity: 0;
			// animation: fadeInLift 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				position: relative;
				height: fit-content;
				width: 100%;
				justify-content: flex-start;
				top: 0;
				right: 0;
				padding: 10%;
			}

			.Title {
				position: absolute;
				left: 20%;
				top: 50vh;
				transform: translateY(-50%);
				opacity: 1;
				transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
				font-size: 120px;
				font-weight: normal;
				font-family: 'Aboreto';
				color: $color-headers;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					position: relative;
					margin-bottom: 40px;
					top: 0;
					left: 0;
					transform: none;
				}

				.Icon {
					fill: none;
					stroke: black;
					stroke-width: 4;
					stroke-dasharray: 300;
					stroke-dashoffset: 300;
					transform: scale(0.5);
					// transition: all 1.5s ease 0.5s;

					@keyframes dashoffset {
						from {
							stroke-dashoffset: 300;
						}
						to {
							stroke-dashoffset: 0;
						}
					}

					animation: dashoffset 1.5s ease 0.5s forwards;
				}

				.Header {
					font-family: 'Aboreto';

					@media screen and (max-width: $breakpoint-large) {
						font-size: 100px;
					}
					@media screen and (max-width: $breakpoint-medium) {
						font-size: 80px;
					}
					@media screen and (max-height: $breakpoint-tablet) {
						font-size: 65px;
					}
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						display: none;
					}

					&Mobile {
						@extend .Header;
						display: none;
						@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
							display: block;
							font-size: 65px;
						}
						@media screen and (max-width: $breakpoint-mobile) {
							font-size: 50px;
						}
					}
				}
			}

			.Intro {
				position: fixed;
				left: 50%;
				width: 30%;
				top: 50vh;
				// transform: translateY(-50%);
				opacity: 1;
				transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					position: relative;
					margin-bottom: 20px;
					top: 0;
					left: 0;
					width: 100%;
				}

				&Scroll {
					@extend .Intro;
					top: 100vh;
					opacity: 0;
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						top: 0;
						opacity: 1;
					}
				}
			}

			h2 {
				font-size: 35px;
				font-weight: 100;
				margin-bottom: 30px;
				@media screen and (max-width: $breakpoint-large) {
					font-size: 30px;
				}
				@media screen and (max-width: $breakpoint-medium) {
					font-size: 28px;
				}
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					font-size: 26px;
				}
				@media screen and (max-height: $breakpoint-tablet) {
					font-size: 24px;
				}
				@media screen and (max-width: $breakpoint-mobile) {
					font-size: 22px;
				}
			}
			.GitHub {
				a {
					text-decoration: none;
					color: black;
					display: flex;
					justify-content: flex-start;
					// align-items: center;
					span {
						font-size: 30px;
						margin-right: 7px;
					}
					p {
						vertical-align: middle;
						font-size: 24px;
						font-weight: 100;
						letter-spacing: 1pt;
						// margin-bottom: 20px;
						// @media screen and (max-width: $breakpoint-large) {
						// 	font-size: 22px;
						// }
						// @media screen and (max-width: $breakpoint-medium) {
						// 	font-size: 20px;
						// }
						// @media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						// 	font-size: 18px;
						// }
						// @media screen and (max-height: $breakpoint-tablet) {
						// 	font-size: 16px;
						// }
						// @media screen and (max-width: $breakpoint-mobile) {
						// 	font-size: 14px;
						// }
					}
				}
			}
		}

		@mixin project {
			width: 100%;
			height: 100%;
			flex-shrink: 0;
			// margin: 30px;
			// border-radius: 20px;
			position: relative;
			transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
			@include flex-center;
			overflow: hidden;

			.Anchor {
				cursor: pointer;
				height: 100%;
				width: 100%;
				@include flex-center;
				.Description {
					position: absolute;
					top: 5%;
					right: 5%;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					h4 {
						text-transform: uppercase;
						font-weight: 300;
						letter-spacing: 1pt;
						color: grey;
						margin-bottom: 3px;
					}
					h3 {
						font-family: 'Aboreto';
						text-transform: uppercase;
						font-weight: 100;
						font-size: 20px;
						letter-spacing: 0.5pt;
						color: black;
					}
					p {
						font-weight: 100;
						font-size: 12px;
						letter-spacing: 0.5pt;
						font-style: italic;
						color: black;
					}
				}
				.Image {
					// z-index: 1;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 60%;
					border-radius: 10px;
					transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
					@media screen and (max-width: 1200px) {
						height: auto;
						width: 80%;
					}
					@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
						height: 60%;
						width: auto;
					}
					@media screen and (max-width: 600px) {
						height: auto;
						width: 80%;
					}
					// @media screen and (max-width: 420px) {
					// 	top: 45%;
					// }
				}

				.Gif {
					// z-index: 2;
					display: none;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: 60%;
					width: auto;
					border-radius: 10px;
					transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
					@media screen and (max-width: 1200px) {
						height: auto;
						width: 80%;
					}
					// @media screen and (max-width: 420px) {
					// 	top: 45%;
					// }

					@keyframes playGif {
						0% {
							transform: translate(-50%, -50%) scale(1);
						}
						100% {
							transform: translate(-50%, -50%) scale(1.03);
						}
					}
					&Play {
						@extend .Gif;
						display: block;
						animation: playGif 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
						@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
							display: none;
						}
					}
				}
			}

			.Info {
				position: absolute;
				top: 85%;
				height: 10%;
				width: 80%;
				// border: 1px solid black;
				display: flex;
				justify-content: center;
				// flex-wrap: wrap;
				// color: rgb(255, 255, 255);

				@media screen and (max-width: 420px) {
					top: 72%;
					flex-wrap: wrap;
					width: 100%;
					height: 25%;
					align-items: center;
				}

				.Icon {
					margin: 0 2%;
					@media screen and (max-width: 420px) {
						margin: 5px 2%;
					}
					width: 60px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 22px;
					color: rgb(100, 100, 100);
					transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);

					p {
						margin-top: 5px;
						font-size: 12px;
						font-weight: 100;
						white-space: nowrap;
					}
				}
			}

			&:hover {
				box-shadow: inset 0 0px 25px 5px rgba(128, 128, 128, 0.196);

				.Icon {
					color: black;
				}
			}
		}

		.Projects {
			position: absolute;
			height: fit-content;
			width: 100vw;
			top: 80vh;
			// border: 1px solid blue;
			padding: 0 $padding-horizontal;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 50vh 50vh;
			background-color: $color-light;

			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				grid-template-columns: 100%;
				grid-template-rows: 50vh 50vh 50vh 50vh;
				padding: 0;
				position: relative;
				top: 0;
			}
			@media screen and (max-height: 700px) {
				grid-template-rows: 400px 400px 400px 400px;
			}

			.GoalsApp {
				height: 100%;
				width: 100%;
				opacity: 0;
				animation: fadeInLift 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175) 0.8s forwards;
				@include project();
				background: linear-gradient(#a4a9dc39, #ddb8dc3d);
			}
			.Booking {
				height: 100%;
				width: 100%;
				opacity: 0;
				animation: fadeInLift 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175) 1s forwards;
				@include project();
				background: linear-gradient(#dcd8cd52, #dab3ae52);
			}
			.TriviaGame {
				height: 100%;
				width: 100%;
				opacity: 0;
				animation: fadeInLift 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175) 1.2s forwards;
				@include project();
				background: linear-gradient(#cbd2b860, #71b8d44d);
			}
			.FindFirm {
				height: 100%;
				width: 100%;
				opacity: 0;
				animation: fadeInLift 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175) 1.4s forwards;
				@include project();
				background: linear-gradient(#e0d5ac48, #afb9e153);
			}
			// .lifeImprovements {
			// 	height: 100%;
			// 	width: 100%;
			// 	opacity: 0;
			// 	animation: fadeInLift 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.175) 1.4s forwards;
			// 	@include project();
			// 	background: linear-gradient(#cbd2b860, #71b8d44d);
			// 	.Image {
			// 		height: 60%;
			// 		border-radius: 10px;
			// 		transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
			// 		@media screen and (max-width: 1200px) {
			// 			height: auto;
			// 			width: 80%;
			// 		}
			// 	}
			// 	&::after {
			// 		height: 100%;
			// 		width: 100%;
			// 		background-color: rgba($color: $color-light, $alpha: 0.7);
			// 		content: 'Coming Soon!';
			// 		@include flex-center;
			// 		font-family: 'Aboreto';
			// 		font-size: 30px;
			// 		// box-shadow: inset 0 0px 25px 5px rgba(128, 128, 128, 0.196);
			// 		position: absolute;
			// 		// top: 100%;
			// 		top: 0;
			// 		left: 0;
			// 		opacity: 0;
			// 		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
			// 		@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
			// 			top: 0;
			// 		}
			// 	}
			// 	&:hover::after {
			// 		// top: 0;
			// 		opacity: 1;
			// 	}
			// }
		}
		.BottomBackground {
			width: 100%;
			height: 50vh;
			position: absolute;
			bottom: 0;
			background-color: #3333335a;
			background-color: #ffffff;
			z-index: -1;

			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				display: none;
			}
		}
		.Links {
			position: absolute;
			bottom: 100px;
			left: 50%;
			transform: translateX(-50%);

			@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
				position: relative;
				top: 0;
				width: 100%;
				left: 0;
				@include flex-center;
				transform: none;
				padding: 30px 0;
			}
			@media screen and (max-height: $breakpoint-tablet) {
				bottom: 20px;
			}

			&Hide {
				@extend .Links;
				display: none;
				@media screen and (max-width: $breakpoint-tablet), (max-height: $breakpoint-tablet) {
					display: flex;
				}
			}
		}
	}
}
